@font-face {
    font-family: "Proxima_regular";
    src: url("ProximaNova-Regular.woff")
}
@font-face {
    font-family:"Proxima_bold";
    src: url("ProximaNova-Bold.woff")
}

body {
    font-family: Proxima_regular,Verdana,sans-serif;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
canvas {
    display: block;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
#banner {
    background-color: #d94a31;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);;
    z-index: 1;
}
#banner > div {
    padding: 0.5rem;
    flex-grow: 1;
}
#banner h1, #banner h2 {
    text-align: left;
    margin: 0.5rem;
}
#banner > img {
    flex-basis: 0;
    background-color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: stretch;
}
h1 {
    text-transform: uppercase;
    font-family: Proxima_bold, Verdana, sans-serif;
    font-weight: normal;
    font-size: x-large;
}
h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: medium;
}
#outer-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
#inner-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
}
#toolbox {
    display: flex;
    flex-direction: column;
    background-color: #ffa581;
    flex: 15%;
    flex-shrink: 0;
}

#canvas-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

#toolbox-header {
    display: flex;
    background-color: #ff7354;
    padding: 1rem;
    justify-content: center;
}

#content {
    padding: 1rem;
}

#log-div {
    background-color: white;
    flex: 50%;
    flex-grow: 0;
}

.row {
    display: flex;
}

.row > * {
    margin: 0.25rem;
}

.filler {
    padding-top: 1rem;
}

.label {
    background-color: #ff7354;
    padding: 0.5rem;
    margin-right: 0;
}

.label + * {
    margin-left: 0;
}

button {
    background-color: #d94a31;
    color: white;
    padding: 0.5rem;
    border: none;
}

button:hover {
    background-color: #ff7354;
}

button:active {
    background-color: #a20000;
}

select {
    border: none;
}